@media (max-width: 1920px) {
   .choice__item {
      max-width: 270px;
      width: 100%;
      min-height: 270px;
   }
}

@media (max-width: 1800px) {
   .choice__inner {
      flex-wrap: wrap;
   }

   .best__image {
      max-width: 600px;
      top: -7px;
      right: auto;
      left: 0;
   }

   .communication {
      .communication__image {
         top: 63px;
         left: 0;
      }
   }

}

/* -----------------------------------1800px */

@media (max-width: 1320px) {

   .catalog-aside {
      margin-right: 15px;
   }

   .catalog-content__items {
      justify-content: center;
   }

   .catalog-content__item {
      &+div {
         margin-left: 20px;
      }

      &:nth-child(4) {
         margin-left: 0;
      }

      &:nth-child(7) {
         margin-left: 0;
      }

      &:nth-child(10) {
         margin-left: 0;
      }

   }

}

/* -----------------------------------1320px */

@media (max-width: 1300px) {

   .top-menu__line {
      &+li {
         margin-left: 20px;
      }
   }

   .header-menu__line {
      &+li {
         margin-left: 25px;
      }
   }

   .header-menu__log {
      max-width: 200px;
   }

   .slider-item__descr {
      max-width: 530px;
   }

   .slider-item__title {
      font-size: 168px;
   }

   .goods__inner {
      display: block;
   }

   .goods-filter {
      max-width: none;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 30px;

      &__link {
         max-width: 270px;
         min-height: 50px;
         max-height: 56px;
         margin: 0 0 10px 0;
      }

      &__btn {
         max-height: 50px;
         margin: 0 20px 10px 0;

         &:nth-child(4) {
            margin-right: 0;
         }

         &+button {
            margin: 0 20px 10px 0;
         }
      }
   }

   .goods__content {
      justify-content: center;

   }

   .product-item {
      &+div {
         margin-left: 30px;
      }
   }

   .choice__item {
      margin-right: 30px;


      &:nth-child(3) {
         margin-right: 0;
      }

      &:nth-child(5) {
         margin-right: 0;
      }
   }

   .advantages__wrapper {
      width: 400px;
      height: 400px;
   }

   .advantages__wrap {
      width: 350px;
      height: 350px;
   }

   .advantages__image {
      width: 300px;
      height: 300px;

      img {
         max-width: 350px;
         height: 350px;
      }
   }

   .catalog-content__item {
      &+div {
         margin-left: 20px;
      }
   }


}

/* -----------------------------------1300px */



@media(max-width: 1210px) {

   .offers {
      padding: 100px 0 70px 0;
   }

   .action__inner,
   .offers__inner,
   .about__inner,
   .interested__content {
      justify-content: center;

   }

   .action-item,
   .offers-item,
   .about-item {
      margin-bottom: 30px;
      margin-right: 18px;

      &:last-child {
         margin-right: 34px;
         margin-left: 18px;
      }
   }

   .offers-sale {
      margin-bottom: 30px;
      margin-right: 18px;
   }

   .catalog-aside__sale {
      margin-bottom: 0;
      margin-right: 0;
   }

   .best-descr__title {
      font-size: 35px;
      margin-bottom: 35px;
   }

   .best__image {
      max-width: 560px;
      top: 25px;
      left: -38px;
   }

   .best__models {
      justify-content: center;
      margin-left: 10px;
   }

   .info__content,
   .descr__inner {
      display: none;
   }

   .info__content-mobile {
      display: block;
   }

   .communication {

      .communication__models {
         margin: 0 10px 0 0;
      }

      .communication__image {
         top: 0;
      }
   }

   .footer__inner {
      justify-content: center;
   }

   .footer-item {
      &+div {
         margin-left: 45px;
      }
   }

   .interested {
      padding-bottom: 70px;

      .goods__item {
         margin-bottom: 30px;

         &:last-child {
            margin-left: 0;
         }
      }
   }

   .interested__content {
      padding: 0 30px;
   }

}

/* -----------------------------------1210px */



@media(max-width: 1170px) {

   .goods-filter__btn {
      &:nth-child(4) {
         margin-right: 20px;
      }

      &:nth-child(3) {
         margin-right: 0;
      }
   }

   .choice {
      padding: 70px 0px 40px 0px;

      &__item {
         margin: 0 15px 20px 15px;

         &:nth-child(3) {
            margin-right: 15px;
         }

         &:nth-child(5) {
            margin-right: 15px;
         }
      }
   }

   .advantages__inner {
      padding-top: 0;
   }

   .advantages__wrapper {
      display: none;
   }

   .advantages__wrapper-mobile {
      display: flex;
      margin: 0 auto;
   }

   .top__inner {
      justify-content: center;
   }

   .top-item {
      &:nth-child(even) {
         margin-left: 20px;
      }
   }

   .catalog__inner {
      display: block;
      position: relative;
   }

   .catalog-aside {
      margin-right: 0;

   }

   .catalog-aside__inner {
      position: absolute;
      max-width: 873px;
      width: 100%;
      margin: 0 auto;
      top: 110px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 7;
      background-color: #fff;
   }

   .catalog-aside__title {
      border-bottom: none;
   }

   .catalog-content {
      margin: 0 auto;
   }

   .catalog-content__top {
      margin-bottom: 120px;
   }

   .catalog-content__filter {
      display: none;
   }

   .price__range {
      max-width: 230px;
   }

   .catalog-aside__item,
   .catalog-aside__btn,
   .catalog-aside__sale {
      display: none;
   }

   .product-info {
      padding: 0 10px;
      margin: 0 auto;
      max-width: 280px;
   }

   .product-info__buttons {
      display: block;
   }

   .product-info__btn {
      max-width: 170px;
      margin: 0 auto;

      &:first-child {
         margin-bottom: 20px;
      }
   }

   .guarantee__inner {
      display: block;
   }

   .guarantee-item {
      max-width: none;
      margin-bottom: 15px;

      &:last-child {
         margin-bottom: 0;
      }

      &__title {
         justify-content: center;
         margin-bottom: 40px;
      }

      &__text {
         font-size: 17px;
      }
   }

   .guarantee-content__items {
      justify-content: center;
   }

   .guarantee-content__item {
      margin-bottom: 15px;
      max-width: none;
      width: 30%;

      &+div {
         margin-left: 15px;
      }

      &:last-child {
         margin-left: 0;
         margin-bottom: 0;
      }
   }
}

/* -----------------------------------1150px */


@media (max-width: 1080px) {

   .best__inner {
      justify-content: center;
      overflow: hidden;
   }

   .best-descr {
      margin: 0;
   }

   .best__image {
      max-width: 530px;
      top: 50px;
      left: -42px;
   }

   .communication {

      .communication__image {
         max-width: 400px;
         top: 0;
      }
   }

   .product__inner {
      flex-wrap: wrap;
      padding-bottom: 30px;
   }

   .product-about {
      max-width: none;
      margin-top: 40px;
   }

   .product-about__num {
      display: none;
   }

   .product-about__delivery,
   .product-about__payment,
   .product-about__advantage {
      display: inline-block;
      width: 33%;
      border-radius: 10px;
   }

}

/* -----------------------------------1080px */


@media (max-width: 1000px) {
   .container {
      max-width: none;
   }

   .header__logo {
      margin-right: 20px;
   }

   .header__top {
      justify-content: center;
   }

   .header__top-text {
      display: none;
   }

   .header-menu__goods {
      max-width: 180px;
   }

   .header-menu__log {
      max-width: 180px;
   }

   .slider-item__descr {
      max-width: 530px;
      min-height: 520px;
      font-size: 57px;
   }

   .slider-item__title {
      font-size: 140px;
   }

   .slider-item__product {
      min-height: 400px;
   }

   .slider-item__btn {
      &:hover {
         border-color: #fff;
         padding: 20px 0;
         font-size: 15px;
      }
   }

   .product-item {
      &+div {
         margin-left: 18px;
      }

      &:hover {
         transform: none;
         box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
         border: 1px solid transparent;
      }

      &__btn {
         &:hover {
            color: $text-dark;
            font-family: "Roboto-Regular";
            background-color: #fff;
            box-shadow: none;
         }
      }
   }

   .button {
      background-color: $salad;
   }

   .goods-filter__link {
      &:hover {
         span {
            transform: none;
         }
      }
   }

   .choice__item {
      &:hover {
         a {
            transform: none;
         }
      }
   }

   .offers-sale__btn {
      &:hover {
         span {
            transform: none;
         }
      }
   }

   .best__image {
      max-width: 455px;
      top: 19px;
      left: -40px;
   }

   .best__bg {
      padding: 10px;
      justify-content: center;
      max-width: 400px;
      min-height: 400px;
      max-height: 400px;

      span {
         font-size: 40px;
         max-height: 200px;
         margin: 0;
         transform: none;
      }
   }

   .action__btn {
      background-color: $main-bg;

      &:hover {
         background-color: $main-bg;

         span {
            display: block;
            transform: none;
         }
      }
   }

   .main-icon {
      &:hover {
         background-color: #fff;

         svg {
            transform: none;

            path {
               fill: #000;

            }

         }
      }
   }

   .footer__inner {
      flex-wrap: wrap;
   }

   .catalog-aside__btn {
      &:hover {
         span {
            transform: none;
         }

      }
   }

   .interested__content {
      padding: 0;
   }

   .purchased__list {
      padding-right: 128px;
   }

   .purchased__type:nth-child(3) {
      margin-right: 86px;
   }

   .purchased-item__amount,
   .purchased-item__price {
      padding: 10px 20px;
   }

   .purchased-item {

      &:hover {
         transform: none;
      }
   }

   .guarantee-content__items {
      padding: 0 15px;
   }

   .guarantee-content__item {
      width: 48%;

      &:nth-child(3) {
         margin-left: 0;
         margin-bottom: 0;
      }

      &:last-child {
         margin-left: 15px;
         margin-bottom: 0;
      }
   }

   .purchased__button,
   .login-form__btn {
      background-color: $main-bg;

      &:hover {
         span {
            transform: none;
         }
      }
   }

   .checkout__inner {
      display: block;
   }

   .checkout-item {
      width: 100%;
      text-align: center;
      padding: 10px 30px;
      border: none;

      &:first-child {
         padding-left: 30px;
      }

      &:last-child {
         padding-right: 30px;
      }

      &__input {
         margin: 0 auto;
         margin-bottom: 15px;
         max-width: 600px;
         width: 100%;
      }

      &__textarea {
         max-width: 600px;
      }
   }
}

/* -----------------------------------1000px */

@media(max-width: 880px) {
   .goods {
      padding: 70px 0 40px 0;
   }

   .goods-filter__btn {
      margin: 0 0 10px 0;

      &+button {
         margin: 0 0 10px 0;
      }

      &:nth-child(odd) {
         margin-right: 20px;
      }

      &:nth-child(4) {
         margin-right: 0;
      }
   }

   .goods__content {
      flex-wrap: wrap;
      padding: 0 10px;

      .product-item {
         margin-bottom: 30px;

         &:first-child {
            margin-right: 30px;
         }
      }

   }

   .best__inner {
      display: block;
      text-align: center;
   }

   .best-descr__text {
      margin: 0 auto;
   }

   .best-descr__btn {
      display: none;
   }

   .best__models {
      margin: 20px auto;
      width: 100%;
   }

   .best__image {
      left: 50%;
      transform: translate(-55%);
   }

   .best-descr__btn-mobile {
      display: block;
      margin: 0 auto;
   }

   .communication {
      .communication__inner {
         display: flex;
      }

      .communication__models {
         width: 50%;
      }

      .communication__image {
         max-width: 300px;
         left: 50%;
         transform: translate(-50%, 0);
      }

      .communication__text {
         margin-bottom: 30px;
      }

      .communication__descr-btn {
         display: block;
         margin: 0 auto;
      }

      .communication__descr-btn-mobile {
         display: none;
      }
   }

   .footer-item {
      &:last-child {
         width: 100%;
         margin: 0 auto;
         margin-top: 30px;
         text-align: center;

      }

      &__social {
         margin-left: 0;
      }
   }

   .footer-item__contacts-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .catalog-content__items {
      padding: 0 40px;
   }

   .catalog-content__item {
      &+div {
         margin-left: 40px;
      }

      &:nth-child(odd) {
         margin-left: 0;
      }

      &:nth-child(4) {
         margin-left: 40px;
      }

      &:nth-child(10) {
         margin-left: 40px;
      }
   }

   .interested__content {
      padding: 0 15px;
   }

   .interested {
      .goods__item {
         &:nth-child(3) {
            margin-left: 0;
         }

         &:last-child {
            margin-left: 18px;
         }
      }
   }

}

/* -----------------------------------880px */

@media (max-width: 870px) {

   .action-item,
   .offers-item {
      margin-left: 18px;

      &:nth-child(2) {
         margin-right: 18px;
      }

      &:last-child {
         margin-right: 18px;
      }

   }

   .offers-sale {
      margin-left: 18px;
   }
}

/* -----------------------------------870px */

@media (max-width: 850px) {

   .header-menu__goods {
      max-width: 150px;
   }

   .header-menu__line {
      &+li {
         margin-left: 15px;
      }
   }

   .header-menu__log {
      max-width: 160px;
   }

   .slider-item__title {
      font-size: 125px;
   }

   .slider-item__descr {
      max-width: 464px;
      min-height: 460px;
      font-size: 55px;
      padding: 40px;
   }

   .slider-item__text {
      margin: 0;
   }

   .slider-item__product {
      min-height: 320px;
   }

   .descr__right {
      margin-left: 20px;
   }

   .top-item {
      max-width: 330px;
   }

   .purchased-item__image {
      margin-right: 15px;
   }

   .purchased-item__name {
      padding: 5px 10px 5px 15px;
   }

   .purchased-item__amount,
   .purchased-item__price {
      margin-right: 15px;
      padding: 10px 15px;
   }

   .purchased-item__btn {
      margin-right: 15px;
   }
}

/* -----------------------------------850px */


@media (max-width: 800px) {

	.info{
		padding: 50px 0;
	}

   .product {
      position: relative;
      padding-top: 70px;
   }

   .product__inner {
      justify-content: center;
   }

   .product-slider {
      padding-bottom: 40px;
      position: relative;

      &:after {
         content: url(../images/swipe-icon.png);
         background: #FFF;
         width: 38px;
         height: 38px;
         box-shadow: 0px 5.81081px 15.1081px rgba(140, 121, 199, 0.3);
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
         margin-top: 15px;
      }

      .owl-dots {
         display: none;
      }
   }

   .product-slider__preview {
      display: none;
   }

   .product {
      .breadcrumbs {
         position: absolute;
         top: 20px;
         left: 40px;
      }
   }

   .product-info {
      max-width: none;
      width: 100%;
      text-align: center;

      .rating,
      &__price,
      &__select,
      &__list {
         justify-content: center;
         margin-bottom: 25px;
      }

      &__quantity,
      &__color {
         margin-bottom: 0;
      }

   }

   .product-about {
      margin-top: 30px;
   }

   .purchased-item__select {
      margin-bottom: 0;
   }

   .purchased__list {
      padding-right: 69px;
   }

}


/* -----------------------------------800px */

@media (max-width: 750px) {
   .header-wrapper {
      display: none;
   }

   .header__top {
      display: none;
   }

   .header-menu__inner {
      display: none;
   }

   .header-menu {
      padding: 20px 0;
      height: 50px;
      border: none;
   }

   .menu-desktop {

      &__btn {
         display: block;
      }
   }

   .header-main {
      display: none;
   }

   .header-mobile {
      display: flex;
   }

   .slider-item {
      padding: 50px 0;
   }

   .slider-item__title {
      font-size: 105px;
   }

   .slider-item__descr {
      max-width: 435px;
      min-height: 435px;
      font-size: 55px;
      padding: 20px;
   }

   .slider-item__text {
      font-size: 20px;
   }

   .choice__item {
      max-width: none;
   }

   .top-item {
      max-width: none;
      width: 100%;

      &:nth-child(even) {
         margin-left: 0;
      }
   }

   .purchased__list {
      display: none;
   }

   .purchased-item {
      display: block;
      padding: 30px;
      position: relative;

      &__image {
         display: inline-block;
         width: 100px;
         height: 100px;
         margin: 0 0 30px 0;
      }

      &__name {
         position: absolute;
         top: 30px;
         left: 60%;
         transform: translate(-50%, 0);
         border: none;
         min-height: 67px;
         max-width: none;
         width: 50%;

      }

      &__price,
      &__select,
      &__amount {
         border: none;
         margin: 0;
         padding: 0;

         span {
            display: block;
         }
      }

      &__amount {
         max-width: 100px;
         margin-left: auto;
      }

      &__btn {
         margin: 0;
         position: absolute;
         top: 30px;
         right: 30px;
      }
   }

   .login {
      .breadcrumbs {
         margin-bottom: 20px;
      }
   }

}

/* -----------------------------------750px */

@media (max-width: 720px) {
   .advantages__inner {
      display: block;
      padding-top: 30px;
   }

   .advantages__title {
      margin-bottom: 20px;

      span {
         margin-top: 15px;
      }
   }

   .advantages-descr {
      margin: 0 auto;
      max-width: none;

      &.descr__left {
         .advantages-descr__item {
            &:last-child {
               .advantages-descr__info {
                  border-left: 1px solid $border;
               }
            }
         }
      }

      &.descr__right {
         .advantages-descr__item {
            &:last-child {
               .advantages-descr__info {
                  border: transparent;
                  padding-bottom: 0;
               }
            }
         }

         .advantages-descr__info {
            border-left: 1px solid $border;
            border-right: none;
            padding: 10px 0 48px 30px;
            text-align: left;
         }

         .advantages-descr__number {
            margin: 7px 34px 0 0;
            order: -1;
         }

         .advantages-descr__circle {
            left: 39px;
            right: auto;
         }
      }

   }

   .about__inner {
      display: block;
   }

   .about-item {
      max-width: none;
      width: 100%;
      margin: 0 0 25px 0;

      &:last-child {
         margin: 0;
      }
   }

   .communication {
      .communication__inner {
         display: block;
      }

      .communication__models {
         display: none;
      }

      .communication__models-mobile {
         width: 100%;
         display: block;
         min-height: 325px;
         margin: 0;
      }

      .communication__image {
         max-width: 300px;
         top: -8px;
      }

      .communication__descr {
         margin-bottom: 30px;
         width: 100%;
         max-width: none;
      }

      .communication__text {
         max-width: none;
      }

      .communication__descr-btn {
         display: none;
      }

      .communication__descr-btn-mobile {
         display: block;
      }
   }

   .footer-item__contacts-inner {
      display: block;
      max-width: 250px;
      margin: 0 auto;
   }

   .catalog-content__items {
      padding: 0;
   }

   .guarantee-content__items {
      padding: 0;
   }

}

/* -----------------------------------720px */

@media (max-width: 675px) {

   .product-about__delivery,
   .product-about__payment,
   .product-about__advantage {
      display: block;
      width: 100%;
   }

   .product-about__delivery {
      border-radius: 10px 10px 0 0;
   }

   .product-about__payment {
      border-radius: 0;
   }

   .product-about__advantage {
      border-radius: 0 0 10px 10px;
   }
}

/* -----------------------------------675px */

@media (max-width: 650px) {
   .slider-item__title {
      font-size: 80px;
   }

   .goods-filter {
      margin-bottom: 15px;
   }

   .goods-filter__btn {
      min-width: 200px;
      max-width: 200px;
   }

   .goods-filter__link {
      max-width: 200px;
      min-width: 200px;
   }

   .goods__content {

      .product-item {
         margin: 10px;

         &:first-child {
            margin-right: 10px;
         }
      }
   }

   .choice,
   .offers,
   .action,
   .advantages,
   .best,
   .top,
   .goods,
   .info,
   .about,
   .footer,
   .catalog,
   .descr,
   .interested,
   .purchased,
   .guarantee,
   .login,
   .checkout {
      padding: 35px 0;
   }

   .footer__inner {
      display: block;
   }

   .footer-item {
      text-align: center;
      margin: 0 auto;
      max-width: 250px;

      &__title {
         font-size: 24px;
         margin-bottom: 30px;
      }

      a {
         font-size: 20px;
      }

      span {
         font-size: 16px;
      }

      &+div {
         margin-left: auto;
      }

      &:first-child,
      &:nth-child(2) {
         display: none;
      }

      &:last-child {
         padding-top: 30px;
         border-top: 1px solid $border;
      }
   }

   .catalog-content__item {

      padding-bottom: 0;
      max-width: 225px;

      &+div {
         margin-left: 20px;
      }

      &:nth-child(4) {
         margin-left: 20px;
      }

      &:nth-child(10) {
         margin-left: 20px;
      }

      .product-item__top {
         margin-bottom: 0;
      }

      .product-item__instock {
         padding: 4px;
         max-width: 100px;
      }

      .product-item__bottom {
         margin-bottom: 5px;
      }

      .product-item__buttons {
         display: none;
      }

   }

   .catalog-aside__inner {
      top: 100px;
   }

   .interested__content {
      padding: 0;
   }

   .interested {
      .goods__item {
         margin: 0 20px 20px 20px;

         &:nth-child(3) {
            margin-left: 20px;
         }
      }
   }

   .purchased-footer {
      padding-bottom: 20px;
      margin-bottom: 20px;
   }

   .purchased-footer__form {
      display: none;
   }

   .purchased-footer__amount {
      margin: 0 auto;
   }

   .purchased__button {
      margin: 0 auto;
   }

   .guarantee__inner {
      margin-bottom: 30px;
   }

   .guarantee-item {
      padding: 25px 15px;
   }

   .guarantee-item__title,
   .guarantee-content__title {
      margin-bottom: 25px;
   }

   .login-form {
      max-width: none;
      padding: 0;
   }

   .main__input {
      margin: 0 auto;
      margin-bottom: 20px;
   }

   .login-form__btn {
      margin: 0 auto;
   }

   .login-form__checkbox {
      justify-content: space-around;
   }

}

/* -----------------------------------650px */

@media (max-width: 500px) {

   .slider-item {
      padding-top: 35px;
   }

   .slider-item__descr {
      max-width: 335px;
      min-height: 365px;
      font-size: 35px;
      padding: 10px;
   }

   .slider-item__title {
      font-size: 60px;

   }

   .slider-item__product {
      min-height: 220px;
      top: 45%;
   }

   .slider-item__btn {
      bottom: 10px;
   }

   .goods-filter__btn {
      min-width: 170px;
      max-width: 170px;

      svg {
         margin-right: 5px;
      }
   }

   .goods-filter__link {
      min-width: 170px;
      max-width: 170px;
   }

   .action-item,
   .offers-item {
      &:last-child {
         margin: 0;
      }
   }

   .best__inner {
      overflow: visible;
   }

   .best__models {
      padding-top: 45px;
   }

   .best__bg {
      max-width: 300px;
      min-height: 300px;
      max-height: 300px;

      span {
         display: none;
      }
   }

   .best__image {
      top: -35px;
      max-width: 448px;
   }

   .title {
      font-size: 36px;
      margin-bottom: 35px;
   }

   .advantages__wrapper-mobile {
      width: 300px;
      height: 300px;

      .advantages__wrap {
         width: 250px;
         height: 250px;
      }

      .advantages__image {
         width: 200px;
         height: 200px;

         img {
            max-width: 300px;
            height: 300px;
         }
      }
   }

   .top__btn {
      margin-top: 20px;
   }

   .info__content-mobile {

      .info__btn-mobile {
         font-size: 20px;

         &:after {
            right: 10px;
         }
      }

      .info-item__mobile {
         font-size: 16px;
         line-height: 30px;
      }
   }

   .about-item {
      padding: 10px;
   }

   .about-item__title {
      margin-bottom: 15px;
   }

   .about__subtitle {
      margin-bottom: 30px;
   }

   .catalog-content__item {
      padding-bottom: 0;
      max-width: 180px;
      margin-bottom: 15px;

      &+div {
         margin-left: 10px;
      }

      &:nth-child(4) {
         margin-left: 10px;
      }

      &:nth-child(10) {
         margin-left: 10px;
      }

      .product-item__top {
         display: none;
      }

      .product-item__image {
         margin-bottom: 0;
         max-width: 150px;
         min-height: 150px;
         margin: 0 auto;
      }

      .product-item__name {
         font-size: 12px;
         line-height: 1.2;
      }

      .product-item__price {
         font-size: 18px;
      }

   }

   .product-slider {
      max-width: 400px;
      margin: 0 auto;

      .owl-item {
         width: 400px !important;
      }
   }

   .purchased-item {
      max-width: none;
      min-height: 178px;
      padding: 20px;

      &__image {
         display: inline-block;
         width: 90px;
         height: 90px;
         margin: 0 0 20px 0;
      }

      &__amount {
         max-width: 60px;
         margin-right: 5px;
      }

      &__btn {
         top: 20px;
         right: 20px;
      }

   }

   .guarantee-content__items {
      display: block;
   }

   .guarantee-content__item {
      width: 100%;

      &+div {
         margin-left: 0;
      }

      &:nth-child(3) {
         margin-bottom: 15px;
      }

      img {
         transform: rotate(90deg);
      }

      &:last-child {
         margin-left: 0;
      }
   }

   .title-fluid {
      margin-bottom: 15px;
   }

   .login__inner {
      padding: 30px 0;
   }

   .login-form {
      border: none;
	}
	
	.checkout__inner{
		margin-bottom: 20px;
		padding: 15px 0;
	}

   .checkout-item {
      width: 100%;
      text-align: center;
      padding: 10px;
      border: none;

      &:first-child {
         padding-left: 10px;
      }

      &:last-child {
         padding-right: 10px;
      }
   }

}

/* -----------------------------------500px */

@media (max-width: 400px) {

   .container {
      padding: 0 7px;
   }

   .menu-desktop {
      text-align: left;

      li {
         justify-content: start;
         padding-left: 27px;

         img {
            display: block;
         }
      }

      span {
         margin-left: 40px;
      }
   }

   .slider-item__title {
      font-size: 48px;
   }

   .slider-item__descr {
      max-width: 295px;
      min-height: 307px;
      font-size: 33px;
      padding: 10px;
   }

   .slider-item__text {
      font-size: 12px;
   }

   .slider-item__product {
      min-height: 160px;
      max-width: 170px;
   }

   .goods-filter {
      justify-content: space-between;
      padding: 0 8px;
   }

   .button {
      max-width: 300px;
      padding: 20px 10px;
      font-size: 17px;
   }

   .goods-filter__btn {
      padding-left: 5px;
      padding-right: 5px;

      &:nth-child(odd) {
         margin-right: 5px;
      }
   }

   .product-item__btn {
      padding: 12px;
   }

   .choice {
      padding: 45px 0px 30px 0px;
   }

   .best-descr__title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 25px;
   }

   .best-descr__text {
      font-size: 18px;
      line-height: 24px;
   }

   .best__image {
      max-width: 356px;
      top: -19px;

   }

   .best__bg {
      max-width: 238px;
      min-height: 238px;
      max-height: 238px;
   }

   .advantages-descr__item {
      min-width: auto;
   }

   .catalog-content__top {
      margin-top: 0;
   }

   .catalog-content__item {
      padding-bottom: 0;
      max-width: 170px;
      margin-bottom: 10px;

      &+div {
         margin-left: 7px;
      }

      &:nth-child(4) {
         margin-left: 7px;
      }

      &:nth-child(10) {
         margin-left: 7px;
      }

      .product-item__image {
         max-width: 130px;
         min-height: 130px;
      }

      .product-item__name {
         font-size: 12px;
         line-height: 1.2;
      }

      .product-item__price {
         font-size: 18px;
      }
   }

   .product-slider {
      max-width: 350px;

      .owl-item {
         width: 350px !important;
      }
   }

   .product-slider__item {
      min-height: 350px;
      max-height: 350px;
   }

   .product-slider__image {
      min-height: 290px;
      max-height: 290px;
      margin-top: 0;
   }

   .product-info {
      text-align: left;
      padding: 0;

      .rating,
      &__price,
      &__select {
         justify-content: start;
      }

      &__quantity,
      &__color {
         display: inline-block;
      }

      .product-info__color-text {
         margin-bottom: 10px;
      }

      &__quantity {
         margin-right: 20px;
      }

      &__buttons {
         display: flex;
      }

      &__btn {
         &:first-child {
            margin-bottom: 0;
         }
      }
   }

   .product-about__top {
      display: none;
   }

   .purchased-item {

      &__price {
         margin-bottom: 10px;
      }

      &__btn {
         top: 15px;
         right: 15px;
      }
   }

   .product-info__select {
      justify-content: center;
   }

   .guarantee-item__title {
      justify-content: start;
   }

   .guarantee-content__item {
      padding-bottom: 15px;
   }

}

/* -----------------------------------400px */

@media (max-width: 360px) {

   .goods-filter__link,
   .goods-filter__btn {
      min-width: 140px;
      max-width: 140px;
   }

   .choice-item {
      margin: 0 0 20px 0;
   }

   .title {
      font-size: 24px;

      span {
         margin-top: 10px;
      }
   }

   .advantages-descr__title {
      font-size: 22px;
   }

   .advantages__wrapper-mobile {
      width: 250px;
      height: 250px;

      .advantages__wrap {
         width: 200px;
         height: 200px;
      }

      .advantages__image {
         width: 150px;
         height: 150px;

         img {
            max-width: 250px;
            height: 250px;
         }
      }
   }

   .communication {

      .communication__descr {
         margin-bottom: 0;
      }

      .communication__text {
         margin-bottom: 0;
      }

      .communication__image {
         max-width: 270px;
         top: 26px;
      }

   }

   .catalog-aside__btn {
      margin: 20px 40px;
   }

   .catalog-content__item {
      max-width: 145px;

      .rating__item {
         svg {
            width: 10px;
            height: 10px;
         }
      }
   }

   .product-slider {
      max-width: 300px;

      .owl-item {
         max-width: 300px !important;
      }
   }

   .product-slider__item {
      min-height: 300px;
      max-height: 300px;
   }

   .product-slider__image {
      min-height: 220px;
      max-height: 220px;
   }


   .product-info__quantity {
      margin-right: 13px;

      .input-number {
         max-width: 50px;
      }
   }

   .interested {
      .goods__item {
         margin: 0;
         margin-bottom: 15px;

         &:nth-child(3) {
            margin-left: 0;
         }

         &:last-child {
            margin-left: 0;
         }

         &+div {
            margin-left: 0;
         }
      }
   }

   .purchased-item {
      padding: 5px;

      &__image {
         margin-bottom: 5px;
      }
   }


   .main__input {
      width: 290px;
   }
}