@media (max-width: 1300px) {
   .container {
      max-width: 1000px;
   }

   .top-menu__line {
      &+li {
         margin-left: 20px;
      }
   }

   .header-menu__line {
      &+li {
         margin-left: 25px;
      }
   }

   .header-menu__log {
      max-width: 200px;
   }

   .slider-item__descr {
      max-width: 530px;
   }

   .slider-item__title {
      font-size: 168px;
   }

}

@media (max-width: 1000px) {
   .container {
      max-width: none;
   }

   .header__logo {
      margin-right: 20px;
   }

   .header__top {
      justify-content: center;
   }

   .header__top-text {
      display: none;
   }

   .header-menu__goods {
      max-width: 180px;
   }

   .header-menu__log {
      max-width: 180px;
   }

   .slider-item__descr {
      max-width: 530px;
      min-height: 520px;
      font-size: 57px;
   }

   .slider-item__title {
      font-size: 140px;
   }

   .slider-item__product {
      min-height: 400px;
   }
}

@media (max-width: 850px) {

   .header-menu__goods {
      max-width: 150px;
   }

   .header-menu__line {
      &+li {
         margin-left: 15px;
      }
   }

   .header-menu__log {
      max-width: 160px;
   }

   .slider-item__title {
      font-size: 125px;
   }

   .slider-item__descr {
      max-width: 464px;
      min-height: 460px;
      font-size: 55px;
      padding: 40px;
   }

   .slider-item__text {
      margin: 0;
   }

   .slider-item__product {
      min-height: 320px;
   }

}

@media (max-width: 750px) {
   .header-wrapper {
      display: none;
   }

   .header__top {
      display: none;
   }

   .header-menu__inner {
      display: none;
   }

   .header-menu {
      padding: 20px 0;
      height: 50px;
      border: none;
   }

   .menu-desktop {

      &__btn {
         display: block;
      }
   }

   .header-main {
      display: none;
   }

   .header-mobile {
      display: flex;
   }

   .slider-item {
      padding: 50px 0;
   }

   .slider-item__title {
      font-size: 105px;
   }

   .slider-item__descr {
      max-width: 435px;
      min-height: 435px;
      font-size: 55px;
      padding: 20px;
   }

   .slider-item__text {
      font-size: 20px;
   }

}

@media (max-width: 650px) {
   .slider-item__title {
      font-size: 80px;
   }
}

@media (max-width: 500px) {

   .slider-item {
      padding-top: 35px;
   }

   .slider-item__descr {
      max-width: 335px;
      min-height: 365px;
      font-size: 35px;
      padding: 10px;
   }

   .slider-item__title {
      font-size: 60px;

   }

   .slider-item__product {
		min-height: 220px;
		top: 45%;
   }

   .slider-item__btn {
      bottom: 10px;
   }
}

@media (max-width: 400px) {

	.menu-desktop{
		text-align: left;
		li{
			justify-content: start;
			padding-left: 27px;
			img{
				display: block;
			}
		}
		span{
			margin-left: 40px;
		}
	}

   .slider-item__title {
      font-size: 48px;
   }

   .slider-item__descr {
      max-width: 295px;
      min-height: 307px;
      font-size: 33px;
      padding: 10px;
   }

   .slider-item__text {
      font-size: 12px;
	}
	
	.slider-item__product {
		min-height: 160px;
		max-width: 170px;
   }

}