$main-bg: #37719b;
$dark-bg: #251C41;
$light-bg: #13C8D4;
$top-bg: #E6E1F2;
$text-grey: #AEAEAE;
$text-dark: #313131;
$search-bg: #FCFCFC;
$border: #d9d9d9;
$green: #34C900;
$salad: #97D513;
$border-light: #e7e7e7;
$nav: #474747;
$menu: #404040;
$big-border: #607edf;
$grey: #dfdfdf;
$title: #535353;
$price: #444444;

@mixin image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}