@import "global";
@import "vars";
@import "libs";
@import "fonts";


/* -------------------------------------------Header Start*/

.header {

   .header-wrapper {
      height: 30px;
      background-color: $dark-bg;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      height: 30px;
   }

   .header__logo {
      max-width: 123px;
   }

   .header__top-text {
      margin-right: auto;
      margin-left: 5px;
   }

   .top-menu__line {
      display: inline-block;

      &+li {
         margin-left: 30px;
      }
   }

   .top-menu__link {
      color: #fff;
   }
}

.header-main {
   padding: 25px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__contact {
      display: flex;
      align-items: center;
   }

   &__text {
      color: $text-grey;
   }

   &__number {
      font-size: 24px;
      color: $text-dark;
      font-family: "Roboto-Bold";
      display: block;
   }

   &__notify {
      display: flex;
      align-items: center;
   }

   &__search {
      max-width: 315px;
      position: relative;
   }

   &__btn {
      position: absolute;
      top: 7px;
      left: 7px;
      background-color: transparent;
   }

   &__input {
      width: 100%;
      height: 40px;
      border-radius: 50px;
      background-color: $search-bg;
      border: 2px solid $border;
      padding: 0 20px 0 50px;
      outline: transparent;

      &::placeholder {
         font-size: 15px;
         color: $text-grey;
      }
   }

   &__notification {
      position: relative;

      &::after {
         content: '11';
         position: absolute;
         top: -5px;
         right: -5px;
         min-width: 16px;
         height: 16px;
         background-color: $green;
         border-radius: 50%;
         color: #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 11px;
         padding: 2px;
      }
   }

   .heart {
      &::after {
         content: '5';
      }
   }

   .cart {
      &::after {
         content: '2';
      }
   }

}

.main-icon {
   margin-right: 13px;
   border-radius: 50%;
   border-radius: 50%;
   box-shadow: 0px 5.81081px 15.1081px rgba(140, 121, 199, 0.3);
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .7s;

   &:hover {
      background-color: $green;

      svg {
         transform: scale(1.1);
         transition: all .5s;

         path {
            fill: #fff;

         }

      }
   }
}

.header-menu {
   border: 2px solid $border-light;
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
   border-left: none;
   border-right: none;
   position: relative;
   z-index: 10;

   &.fixed {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 9999;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 10px 0;
   }

   &__goods,
   &__log {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $border-light;
      border-top: transparent;
      border-bottom: transparent;
      height: 40px;
      max-width: 270px;
      width: 100%;
   }

   &__catalog {
      font-size: 18px;
      font-family: "Roboto-Medium";
      color: $nav;
   }

   &__line {
      display: inline-block;

      &+li {
         margin-left: 40px;
      }
   }

   &__link {
      font-size: 14px;
      font-family: "Roboto-Bold";
      color: $menu;
      display: block;
      height: 40px;
      padding-top: 13px;
      transition: all .2s;

      &:hover {
         border-bottom: 2px solid $salad;
         color: $salad;
      }

   }

   &__enter {
      margin-left: 10px;
      font-size: 14px;
      color: $text-dark;
      font-family: "Roboto-Medium";
   }

}

.menu-desktop {
   position: absolute;
   top: 0px;
   left: -100%;
   z-index: -1;
   opacity: 0;
   background-color: #fff;
   box-shadow: 0px 20px 22px rgba(0, 0, 0, 0.1);
   border-radius: 0px 0px 8px 8px;
   width: 100%;
   text-align: center;
   transition: all .5s;

   &.active {
      left: 0;
      opacity: 1;
      z-index: 9999;
      max-height: 100vh;
      overflow-y: auto;
   }

   li {
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 26px;
      border-bottom: 1px solid $border;
   }

   &__line {
      img {
         display: none;
      }
   }

   span {
      font-size: 18px;
      color: $text-dark;
      font-family: "Roboto-Bold";
      margin-left: 20px;
   }

   &__link,
   &__sublink {
      width: 100%;
      display: block;
      padding: 10px 0;
      color: $menu;
      font-size: 12px;
      margin-left: 20px;
   }

   &__link {
      font-size: 14px;
      color: $nav;
      font-family: "Roboto-Medium";
   }

   &__btn {
      display: none;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(-50%, 0);
      z-index: 100000010;
      width: 30px;
      height: 4px;
      background-color: $dark-bg;


      &:before,
      &:after {
         content: '';
         width: 30px;
         height: 4px;
         background-color: $dark-bg;
         position: absolute;
         top: 10px;
         left: 0;
         transition: all .4s;
      }

      &:after {
         top: -10px;
      }

      &.active {
         height: 0;

         &:before {
            transform: rotate(45deg) scaleX(0.6) translateX(12px);
            background-color: $main-bg;
            top: 0;
         }

         &:after {
            transform: rotate(-45deg) scaleX(0.6) translateX(12px);
            background-color: $main-bg;
            top: 0;
         }
      }
   }

   &__phone {
      padding: 30px 30px 40px 30px;
   }

}

.header-mobile {
   display: none;
   width: 100%;
   height: 17px;
   justify-content: flex-end;
   align-items: center;
   border-radius: 0 0 10px 10px;
   position: relative;

   &__search {
      margin-left: 60px;
      position: absolute;
      top: 30%;
      left: 0;
      transform: translate(0, -50%);
      z-index: 90;
   }

   &__input {
      width: 0;
      padding: 0;
      border: none;
      opacity: 0;
      transition: all .3s;

      &.show {
         width: 100%;
         border: 2px solid $border;
         padding: 0 20px 0 50px;
         opacity: 1;
      }
   }

   &__icon {
      box-shadow: none;
      margin: 0;

      &:after {
         top: 0;
         right: 0;
      }

      &+a {
         margin-left: 10px;
      }

      &.account {
         &:after {
            content: '3';
         }
      }
   }
}

/* -------------------------------------------Header End*/

/* -------------------------------------------Slider Start*/

.slider-item {
   background-color: $main-bg;
   text-align: center;
   padding: 88px 0 51px 0;
   font-family: "Roboto-Bold";
   position: relative;

   &__descr {
      position: relative;
      max-width: 570px;
      margin: 0 auto;
      min-height: 590px;
      border: 20px solid $big-border;
      padding: 50px;
      color: rgba(255, 255, 255, .4);
      text-transform: uppercase;
      font-size: 64px;
   }

   &__text {
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__btn {
      font-family: "Roboto-Medium";
      font-size: 15px;
      color: #fff;
      letter-spacing: 1px;
      min-width: 250px;
      height: 60px;
      position: absolute;
      padding: 20px 0;
      left: 50%;
      bottom: 15px;
      transform: translateX(-50%);
      text-transform: capitalize;
      border: 1px solid #fff;
      border-radius: 50px;
      z-index: 5;
      transition: all .3s;

      &:hover {
         span {
            font-size: 16px;
            transition: all .3s;
         }

         padding: 18px 0;
         border-color: $salad;
      }
   }

   &__title {
      color: #fff;
      font-size: 192px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      margin: 0;
   }

   &__product {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-height: 500px;
      max-width: 450px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

}

.owl-dots {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 20px;
}

.owl-dot {
   width: 11px !important;
   height: 11px !important;
   border: 2px solid #fff !important;
   background-color: rgba(255, 255, 255, .8) !important;
   border-radius: 50%;

   &+button {
      margin-left: 20px;
   }

   &.active {
      background-color: $main-bg !important;
   }
}

/* -------------------------------------------Slider End*/

/* -------------------------------------------Goods Start*/


.goods {
   padding: 100px 0;
   text-align: center;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      justify-content: space-between;
      width: 100%;
      display: none;

      &.current-tab {
         display: flex;
      }
   }

}

.goods-filter {
   max-width: 270px;
   margin-right: 26px;

   &__btn {
      min-width: 270px;
      min-height: 56px;
      font-size: 14px;
      font-family: "Roboto-Medium";
      background-color: #fff;
      padding: 0 20px;
      border: 1px solid $grey;
      border-right: 4px solid $grey;
      border-radius: 5px;
      transition: all .2s;
      display: flex;
      align-items: center;

      svg {
         display: inline-block;
         transition: all .2s;
         max-width: 40px;
         width: 100%;
         margin-right: 35px;
      }

      span {
         margin-top: 4px;
      }

      &+button {
         margin-top: 15px;
      }

      &:hover,
      &.active {
         box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
         border-right: 4px solid $main-bg;

         svg {
            path {
               fill: $main-bg;
            }
         }
      }
   }

   &__link {
      @include image;
      min-width: 270px;
      min-height: 100px;
      display: block;
      margin-top: 15px;
      border-radius: 10px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-family: "Roboto-Medium";

      &:hover {
         span {
            transform: scale(1.2);
            transition: all .3s;
         }

      }
   }
}



/* -------------------------------------------Goods End*/

/* -------------------------------------------Choice Start*/

.choice {
   padding: 90px 50px 60px 50px;
   background-color: $main-bg;
   color: #fff;
   text-align: center;

   &__title {
      color: #fff;

      span {
         color: #fff;
      }
   }

   &__inner {
      display: flex;
      justify-content: center;
   }

   &__item {
      @include image;
      max-width: 330px;
      width: 100%;
      min-height: 330px;
      border: 20px solid $big-border;
      border-radius: 10px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 18px;
      line-height: 1.5;
      font-family: "Roboto-Bold";
      overflow: hidden;
      margin-bottom: 30px;
      background-color: $grey;

      &:hover {
         a {
            transform: scale(1.1);
         }
      }

      a {
         color: #000;
         background-color: rgba(255, 255, 255, .5);
         width: 100%;
         transition: all .4s;
      }

      &+div {
         margin-left: 15px;
      }
   }
}

/* -------------------------------------------Choice End*/


/* -------------------------------------------Offers Start*/
.offers {
   padding: 100px 0;
   text-align: center;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
}

.offers-sale {
   background-color: $light-bg;
   color: #fff;
   text-align: center;
   padding: 30px;

   &__image {
      @include image;
      background-size: contain;
      min-height: 151px;
      width: 100%;
      margin-bottom: 25px;
   }

   &__title {
      font-size: 24px;
      font-family: "Roboto-Bold";
      margin-bottom: 10px;
   }

   &__text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
   }

   &__btn {
      width: 100%;
      display: block;
      background-color: $salad;
      padding: 0 10px;
      min-height: 50px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 14px;
      font-family: "Roboto-Bold";

      &:hover {
         span {
            transform: scale(1.1);
            transition: all .3s;
         }
      }
   }
}

.offers-item {
   position: relative;

   &::after {
      content: '-15%';
      position: absolute;
      top: 10px;
      right: 10px;
      min-width: 50px;
      height: 50px;
      background-color: $salad;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 50%;
   }

   &__rating {
      max-width: 80px;
      margin: 0 auto;
      margin-bottom: 20px;
   }

   &__text {
      font-size: 12px;
      line-height: 14px;
      color: $text-dark;
      margin-bottom: 10px;
   }

   &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__btn {
      max-width: 125px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

/* -------------------------------------------Offers End*/

/* -------------------------------------------Best Start*/

.best {
   background-color: $main-bg;
   padding: 50px 0 30px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      color: #fff;
   }

   &__models {
      position: relative;
      width: 50%;
      display: flex;
      justify-content: flex-end;
   }

   &__image {
      position: absolute;
      top: -38px;
      right: -153px;
      z-index: 9;
   }

   &__bg {
      max-width: 490px;
      width: 100%;
      flex: 0 0 auto;
      min-height: 490px;
      max-height: 490px;
      border: 20px solid $big-border;
      display: flex;
      justify-content: flex-start;
      text-align: right;

      span {
         font-size: 64px;
         margin-top: 30px;
         opacity: .7;
         text-transform: uppercase;
         transform: rotate(-90deg);
         display: block;
         font-family: "Roboto-Bold";
      }
   }

}

.communication__inner {
   overflow: hidden;
}

.communication__image {
   top: 63px;
   left: 0;
}

.communication__models-mobile {
   display: none;
}

.best-descr {
   margin: 100px 0 70px 0;

   &__title {
      font-size: 40px;
      line-height: 48px;
      font-family: "Roboto-Bold";
      margin-bottom: 50px;

      span {
         font-family: "Roboto-Light";
         display: block;
      }
   }

   &__text {
      font-size: 20px;
      line-height: 30px;
      max-width: 412px;
      margin-bottom: 50px;

      span {
         margin-top: 20px;
         display: block;
      }

      a {
         color: $salad;
      }

   }

}

.best-descr__btn-mobile {
   display: none;
}

/* -------------------------------------------Best End*/

/* -------------------------------------------Actions Start*/

.action {
   padding: 100px 0;
   text-align: center;

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 40px;
   }

   &__btn {
      margin: 0 auto;
      background-color: $main-bg;

      span {
         transition: all .4s;
      }

      &:hover {
         background-color: $main-bg;

         span {
            display: block;
            transform: scale(1.1);
         }
      }
   }
}

.action-item {
   padding: 35px 0 0 0;
   position: relative;

   &__action {
      position: absolute;
      top: 14px;
      right: 14px;
      min-width: 50px;
      height: 50px;
      background-color: #97D513;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 50%;

   }

   &__name {
      padding: 0 14px;
   }

   &__footer {
      min-height: 78px;
      border-top: 1px solid $border;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__date {
      width: 50px;
      flex: 0 0 auto;
      height: 50px;
      background-color: $light-bg;
      border-radius: 50%;
      text-align: center;
      padding-top: 5px;
      color: #fff;
      font-size: 10px;
      text-transform: capitalize;
      margin-right: 25px;

      span {
         display: block;
         font-size: 24px;
      }
   }
}

/* -------------------------------------------Actions End*/

/* -------------------------------------------Advantages Start*/
.advantages {
   padding: 100px 0;
   text-align: center;
   background-color: $main-bg;
   color: #fff;

   &__title {
      color: #fff;

      span {
         color: #fff;
      }
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      padding-top: 60px;
   }

   &__wrapper {
      width: 500px;
      height: 500px;
      flex: 0 0 auto;
      border: 1px solid rgba(174, 174, 174, .1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 9;
   }

   &__wrap {
      width: 450px;
      height: 450px;
      border: 1px solid rgba(174, 174, 174, .3);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
   }

   &__image {
      width: 400px;
      height: 400px;
      border: 1px solid rgba(174, 174, 174, .5);
      border-radius: 50%;
      position: relative;

      img {
         position: absolute;
         max-width: 450px;
         height: 450px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 9;
      }
   }
}

.advantages__wrapper-mobile {
   display: none;

   .advantages__wrap {
      margin: 0 auto;
   }
}

.advantages-descr {
   max-width: 365px;
   width: 100%;

   &__item {
      display: flex;
      justify-content: space-between;
      text-align: left;
      position: relative;
      min-width: 337px;

      &:last-child {
         .advantages-descr__info {
            border: transparent;
         }
      }
   }

   &__number {
      font-size: 25px;
      font-family: "Roboto-Bold";
      color: $text-dark;
      opacity: .5;
      margin: 7px 34px 0 0;
   }

   &__circle {
      border: 15px solid #fff;
      background-color: $main-bg;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      flex: 0 0 auto;
      position: absolute;
      top: 0;
      left: 39px;
      z-index: 9;
   }

   &__info {
      border-left: 1px solid $border;
      padding: 10px 0 48px 30px;
      width: 100%;
   }

   &__title {
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__text {
      font-size: 12px;
      line-height: 18px;
   }

   &.descr__right {
      .advantages-descr__item {
         &:last-child {
            .advantages-descr__info {
               border: transparent;
            }
         }
      }

      .advantages-descr__info {
         border-left: none;
         border-right: 1px solid $border;
         padding: 10px 30px 48px 0;
         text-align: right;
      }

      .advantages-descr__number {
         margin: 7px 0 0 34px;
      }

      .advantages-descr__circle {
         left: auto;
         right: 39px;
      }
   }

}

/* -------------------------------------------Advantages End*/

/* -------------------------------------------Top Start*/
.top {
   padding: 90px 0 90px;
   text-align: center;
   background-color: $top-bg;

   &__title {
      font-family: "Roboto-Bold";
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__btn {
      margin: 0 auto;
      background-color: $main-bg;
      margin-top: 35px;

      span {
         transition: all .4s;
      }

      &:hover {
         background-color: $main-bg;

         span {
            display: block;
            transform: scale(1.1);
         }
      }
   }
}

.top-item {
   max-width: 380px;
   width: 100%;
   border-radius: 10px;
   background-color: #fff;
   display: flex;
   padding: 24px 10px 15px 5px;
   margin-bottom: 15px;

   &__image {
      @include image;
      height: 123px;
      width: 123px;
      flex: 0 0 auto;

   }

   &__info {
      text-align: left;
   }

   &__rating {
      margin-bottom: 10px;
   }

}

/* -------------------------------------------Top End*/

/* -------------------------------------------Info Start*/

.info {
   background-color: $search-bg;
   text-align: center;
   padding: 100px 0 110px 0;

   &__content {
      display: flex;
      position: relative;
   }

   &__buttons {
      width: 43.5%;
      text-align: left;
      z-index: 9;
   }

   &__btn {
      min-height: 100px;
      font-size: 20px;
      font-family: "Roboto-Bold";
      border-radius: 10px 0 0 10px;
      cursor: pointer;

      &:last-child {
         span {
            border: none;
         }
      }

      span {
         display: block;
         margin: 0 20px;
         padding: 40px 0 40px 30px;
         border-bottom: 1px solid $border-light;
         max-width: 450px;
      }

      &.active {
         background-color: #fff;
         box-shadow: -15px -7px 18px rgba(0, 0, 0, 0.05),
            -15px 17px 18px rgba(0, 0, 0, 0.05);

         span {
            border: none;
         }
      }
   }
}

.info__content-mobile {
   text-align: left;
   display: none;

   .info__btn-mobile {
      min-height: 63px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      background-color: #fff;
      display: flex;
      align-items: center;
      padding: 20px 60px 20px 30px;
      font-size: 25px;
      font-family: "Roboto-Bold";
      position: relative;
      transition: all .3s;

      &:after {
         content: '+';
         font-size: 36px;
         color: $main-bg;
         position: absolute;
         top: 50%;
         right: 30px;
         transform: translate(0, -50%);
      }

      &.active {
         &:after {
            content: '-';
            font-size: 50px;
         }
      }
   }

   .info-item__mobile {
      padding: 25px;
      font-size: 20px;
      line-height: 35px;
      color: $text-dark;
      background-color: #fff;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
      border-radius: 0 0 8px 8px;
   }

   .info-item__link-mobile {
      display: block;
      text-align: center;
      margin-top: 25px;
      color: $main-bg;
      font-size: 20px;
      font-family: "Roboto-Bold";
      text-decoration: underline;
   }

}

.info-item {
   max-width: 670px;
   min-height: 415px;
   max-height: 415px;
   overflow-y: auto;
   width: 100%;
   background-color: #fff;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.05),
      0px 4px 18px rgba(0, 0, 0, 0.05);
   border-radius: 10px;
   padding: 10px 30px 0 85px;
   position: absolute;
   top: 0;
   right: 0;
   text-align: left;
   display: none;
   border-bottom: 30px solid #fff;
   border-top: 30px solid #fff;

   &__title {
      font-size: 22px;
      font-family: "Roboto-Bold";
      margin-bottom: 27px;
   }

   &__text {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 40px;
   }

   &__link {
      font-size: 16px;
      text-decoration: underline;
      font-family: "Roboto-Bold";
      color: $main-bg;
   }

   &.active-tab {
      display: block;
   }
}

/* -------------------------------------------Info End*/


/* -------------------------------------------About Start*/

.about {
   padding: 90px 0 80px 0;
   background-color: $search-bg;
   text-align: center;

   &__subtitle {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 62px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
}

.about-item {
   border-radius: 10px;
   background-color: #fff;
   padding: 35px 30px;
   max-width: 300px;
   width: 100%;
   color: $title;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

   &__icon {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: $grey;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
   }

   &__ico {
      display: block;
      @include image;
      background-size: contain;
      width: 52px;
      height: 52px;
   }

   &__title {
      font-size: 18px;
      font-family: "Roboto-Medium";
      margin-bottom: 30px;
   }

   &__text {
      font-size: 14px;
      line-height: 21px;
   }
}

/* -------------------------------------------Info End*/


/* -------------------------------------------Footer End*/

.footer {
   background-color: $dark-bg;
   padding: 70px 0 50px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      color: #fff;

      a {
         color: #fff;
      }
   }
}

.footer-item {

   &__title {
      font-size: 18px;
      font-family: "Roboto-Medium";
      margin-bottom: 45px;
   }

   &__line {
      &+li {
         margin-top: 10px;
      }
   }

   &__link {
      font-size: 14px;
      transition: all .3s;

      &:hover {
         color: $salad;
      }
   }

   &__label {
      margin-top: 45px;
      display: block;
      position: relative;
   }

   &__input {
      display: block;
      margin-top: 10px;
      background-color: transparent;
      width: 213px;
      height: 50px;
      padding: 0 50px 0 20px;
      border: 1px solid $border;
      border-radius: 10px;
      outline: transparent;
      color: #fff;
   }

   &__btn {
      background-color: $salad;
      width: 40px;
      height: 50px;
      border-radius: 0 10px 10px 0;
      position: absolute;
      top: 24px;
      right: 0;
   }

   &__contacts {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
   }

   &__info {
      margin-left: 10px;

      span {
         display: block;
         margin-bottom: 5px;
         color: $text-grey;
         font-size: 13px;
      }
   }

   &__tel {
      font-size: 24px;
      font-family: "Roboto-Bold";
   }

   &__contact {
      font-family: "Roboto-Bold";
   }
}

.social-list {
   margin-left: 50px;

   &__line {
      display: inline-block;

      &+li {
         margin-left: 10px;
      }
   }
}

/* -------------------------------------------Footer End*/


/* --********************************************************Product-card.html****************************************************-- */

.product {
   padding: 65px 0 0 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border;
      padding-bottom: 75px;
   }
}

.product-slider__wrapper {
   position: relative;
}

.product-slider {
   max-width: 470px;
   padding-bottom: 100px;

   .owl-item {
      padding: 8px;
   }

   &__item {
      width: 100%;
      min-height: 470px;
      padding: 20px;
      box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
      border-radius: 10px;
      border: 1px solid transparent;
   }

   &__image {
      min-height: 370px;
      margin: 20px 0 0 0;
   }

   &__preview,
   .owl-dots {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
   }

   &__dots {
      background-color: transparent;
      width: 78px;
      height: 78px;
      appearance: none;
      transition: all .2s;

      &+div {
         margin-left: 20px;
      }

      &:hover {
         transform: scale(1.07);
         box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
         border-radius: 10px;
      }
   }

   &__prev {
      padding: 13px;
      box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
      border-radius: 10px;

      img {
         width: 51px;
         height: 51px;
      }

   }
}

/* -------------------------------------------Product-info*/

.product-info {
   padding: 0 30px;
   max-width: 370px;
   width: 100%;
   flex: 0 0 auto;

   &__name {
      font-size: 24px;
      font-family: "Roboto-Medium";
      margin-bottom: 20px;

      span {
         display: block;
         margin-top: 10px;
      }
   }

   &__rating {
      margin-bottom: 40px;
   }

   &__price {
      font-size: 30px;
      margin-bottom: 35px;
      font-family: "Roboto-Bold";
      display: flex;
      align-items: center;
   }

   &__discount {
      font-size: 22px;
      color: $text-grey;
      font-family: "Roboto-Light";
      position: relative;
      margin-left: 10px;

      &::before {
         content: '';
         height: 1px;
         width: 55px;
         background-color: $text-grey;
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
      }
   }

   &__quantity {
      margin-bottom: 40px;
   }

   .product-info__quantity-text,
   .product-info__color-text {
      font-size: 14px;
      font-family: "Roboto-Medium";
      margin-bottom: 5px;
   }

   &__color {
      margin-bottom: 40px;
   }

   &__list {
      display: flex;
      align-items: center;
   }

   &__line {
      &+li {
         margin-left: 10px;
      }
   }

   &__link {
      color: $text-grey;
      font-size: 14px;
      display: flex;
      align-items: center;
   }

   &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid transparent;
      display: block;
      flex: 0 0 auto;
      margin-right: 5px;

      &:hover {
         border-color: $text-grey;
      }

   }

   .circle-first {
      background-color: #314bbe;
   }

   .circle-second {
      background-color: #070707;
   }

   &__buttons {
      min-height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }

   &__btn {
      padding: 16px 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
         min-width: 170px;
      }

      &:last-child {
         min-width: 130px;
      }
   }
}

.product-info__select {
   display: flex;
   align-items: center;
   user-select: none;


   .input-number__decrement,
   .input-number__increment {
      border: 1px solid $border;
      min-height: 39px;
      min-width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

   }

   .input-number__decrement {
      border-radius: 10px 0 0 10px;
   }

   .input-number__increment {
      border-radius: 0 10px 10px 0;
   }

   .input-number {
      text-align: center;
      border: 1px solid $border;
      font-size: 20px;
      color: $nav;
      font-family: "Roboto-Bold";
      min-height: 39px;
      max-width: 65px;
   }
}

/* -------------------------------------------Product-info End*/

/* -------------------------------------------Product-about Start*/

.product-about {
   max-width: 275px;
   width: 100%;

   &__num {
      text-align: right;
      font-size: 12px;
      margin-bottom: 15px;

      span {
         font-family: "Roboto-Bold";
      }
   }

   &__top {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heart {
         margin-right: 0;
      }

      .weight {
         margin-left: auto;
      }
   }

   &__left {
      font-size: 12px;
      line-height: 1.3;
      max-width: 150px;
      padding-left: 43px;
      position: relative;

      &::before {
         content: '!';
         color: #fff;
         background-color: #FF4E4E;
         width: 36px;
         height: 36px;
         border-radius: 50%;
         position: absolute;
         top: -3px;
         left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 23px;
         font-family: "Roboto-Bold";
      }

      span {
         font-family: "Roboto-Bold";
      }
   }

   &__delivery,
   &__payment,
   &__advantage {
      border: 1px solid $border;
      padding: 25px;
      border-radius: 10px 10px 0 0;
   }

   &__title {
      font-size: 14px;
      font-family: "Roboto-Medium";
      margin-bottom: 18px;
   }

   &__line {
      padding-left: 25px;
      position: relative;

      &::before {
         content: url(../images/product-about-1.png);
         position: absolute;
         top: 0;
         left: 0;
      }

      &+li {
         margin-top: 15px;
      }
   }

   &__payment {
      border-radius: 0;

      li {
         &::before {
            content: url(../images/product-about-2.png);
         }
      }
   }

   &__advantage {
      border-radius: 0 0 10px 10px;

      li {
         &::before {
            content: url(../images/product-about-3.png);
         }
      }
   }

}

/* -------------------------------------------Product-about End*/

/* -------------------------------------------Descr Start*/

.descr {
   padding: 65px 0 50px 0;
   position: relative;

   &__inner {
      position: relative;
      min-height: 545px;
   }

   &__tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0px;
      max-width: 1170px;
      width: 100%;
   }

   &__tab {
      width: 32%;
      text-align: center;
      font-size: 18px;
      border-radius: 10px 10px 0 0;
      padding: 32px;
      background-color: $search-bg;
      color: #c2c2c2;
      max-height: 55px;
      transition: all .2s;
      cursor: pointer;
      border: 1px solid $border;
      border-bottom: none;
      position: relative;
      margin-top: 20px;
      z-index: 1;

      &::before {
         content: '';
         height: 15px;
         width: 100%;
         position: absolute;
         left: 0;
         bottom: -12px;
         background-color: #fff;
         display: none;
         z-index: 3;
      }

      &.active {
         font-size: 24px;
         font-family: "Roboto-Medium";
         background-color: #fff;
         color: $menu;
         min-height: 81px;
         box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
         border: none;
         z-index: 6;
         margin: 0;
         padding: 40px;

         &::before {
            display: block;
         }

         &:first-child {
            margin: 0;
         }

         &:last-child {
            margin: 0;
         }
      }

      &:first-child {
         margin-left: 15px;
      }

      &:last-child {
         margin-right: 15px;
      }
   }

   &__item {
      border-radius: 10px;
      display: none;
      padding: 60px 0 0 75px;
      font-size: 18px;
      line-height: 24px;
      font-family: "Roboto-Medium";
      color: $nav;
      box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 460px;
      max-height: 460px;
      overflow-y: auto;
      border-top: 15px solid #fff;
      border-bottom: 30px solid #fff;

      p {
         width: 50%;

         &+p {
            margin-top: 20px;
         }

         &:first-child {
            font-family: "Roboto-Bold";
         }
      }

      &.active-tab {
         display: block;
      }
   }
}

/* -------------------------------------------Descr End*/


/* -------------------------------------------Interested Start*/

.interested {
   padding: 40px 0 100px 0;

   &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
}

/* -------------------------------------------Interested End/



/* --********************************************************Product-card.html****************************************************-- */


/* --********************************************************Catalog.html****************************************************-- */

.catalog {
   padding: 60px 0 100px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
   }
}

.catalog-aside {
   margin-right: 30px;
   flex: 0 0 auto;

   &__inner {
      box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
      margin-bottom: 30px;
      border-radius: 10px;
   }

   &__title {
      font-size: 20px;
      color: $text-dark;
      font-family: "Roboto-Medium";
      position: relative;
      padding: 30px 60px 25px 25px;
      border-bottom: 1px solid $border;
      cursor: pointer;
      transition: all .3s;

      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;

      &::after {
         content: url(../images/aside-title-1.png);
         position: absolute;
         top: 27px;
         right: 25px;
      }

      &.active {
         border-bottom: none;
      }
   }

   &__item {
      padding: 20px 25px;
      border-bottom: 1px solid $border;


      &.hide {
         display: none;
      }
   }

   &__type {
      color: $text-dark;
      font-family: "Roboto-Medium";
      font-size: 18px;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      z-index: 9;

      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;

      &::after {
         content: url(../images/chevron-down.svg);
         position: absolute;
         top: 0;
         right: 0;
         transition: all .4s;
      }

      &.active {
			margin-bottom: 0;

         &::after {
            content: url(../images/chevron-down.svg);
            transform: rotate(90deg);
         }

      }
   }

   input {
      appearance: none;
      -webkit-appearance: none;
   }

   &__btn {
      max-width: 231px;
      width: 100%;
      margin: 20px 20px;
      min-height: 50px;
      background-color: transparent;
      border: 1px solid $main-bg;
      border-radius: 50px;
      font-size: 16px;
      color: $text-dark;


      &:hover {
         span {
            transform: scale(1.1);
            display: block;
            transition: all .3s;
         }

      }

      &.hide {
         display: none;
      }
   }

}

.catalog-aside__content--hide {
	display: none;

}

.catalog-aside__check {
   display: flex;
   align-items: center;

   &+div {
      margin-top: 10px;
   }


   .catalog-aside__label {
      color: $text-dark;
      font-size: 14px;
      padding-left: 10px;
      margin-top: 2px;
      position: relative;

      &::before {
         content: '';
         width: 21px;
         height: 21px;
         border: 1px solid $border;
         border-radius: 50%;
         position: absolute;
         bottom: -1px;
         left: -20px;

      }
   }

   .catalog-aside__input {
      width: 20px;
      height: 20px;
      outline: transparent;
      cursor: pointer;
      border-radius: 50%;
      display: block;
      z-index: 5;

      &:checked {
         border: 4px solid #fff;
         background-color: $main-bg;
      }
   }
}

.price__range {

   .irs.irs--flat.js-irs-0 {
      max-width: 200px;
      margin: 0 auto;
      margin-right: 25px;
   }

   .irs--flat {

      .irs-max,
      .irs-min {
         visibility: hidden !important;
      }

      .irs-bar {
         background-color: $main-bg;
         height: 6px;
      }

      .irs-line {
         height: 6px;
         background-color: #efedf3;
      }

      .irs-handle {
         top: 15px;
         width: 0;
         margin: 0;
         cursor: pointer;
      }

      .irs-handle>i:first-child {
         width: 26px;
         height: 26px;
         border-radius: 50%;
         border: 4px solid $main-bg;
         background-color: #fff;
      }

      .irs-from,
      .irs-single,
      .irs-to,
      .irs-from:before,
      .irs-single:before,
      .irs-to:before {
         display: none;
      }
   }
}

.extra-controls {
   display: flex;
   justify-content: space-between;
   max-width: 200px;
   margin: 0 auto;
   margin-top: 20px;

   &__input {
      position: relative;


      &::after {
         content: "₴";
         position: absolute;
         top: 9px;
         right: 10px;
         font-size: 18px;
         color: #808080;
      }
   }

   .js-input-from,
   .js-input-to {
      font-size: 15px;
      color: #808080;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid $border;
      max-width: 93px;
      width: 100%;
      flex: 0 0 auto;
      text-align: center;
      min-height: 40px;
      outline: transparent;

   }

}

.catalog-content {
   max-width: 873px;
   width: 100%;

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 30px 0;
   }

   &__title {
      font-size: 36px;
      margin-bottom: 0;
   }

   &__filter {
      position: relative;
      display: block;

      &::after {
         content: url(../images/chevron-down.svg);
         position: absolute;
         top: 13px;
         right: 20px;
         z-index: -1;
      }
   }

   &__select {
      height: 38px;
      min-width: 270px;
      flex: 0 0 auto;
      padding: 10px 50px 10px 20px;
      font-size: 16px;
      border: 1px solid $border;
      border-radius: 10px;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
   }

   select {
      appearance: none;
      -webkit-appearance: none;
   }

   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__item {
      margin-bottom: 30px;
   }

}

.pagination {
   text-align: center;
   margin-top: 45px;

   &__line {
      display: inline-block;

      &+li {
         margin-left: 10px;
      }
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: 1px solid $border;
      border-radius: 8px;
      font-size: 17px;
      color: $title;

      &.active,
      &:hover {
         background-color: $main-bg;
         color: #fff;
      }
   }
}

/* --********************************************************Catalog.html****************************************************-- */

/* --********************************************************Purchased.html****************************************************-- */

.purchased {
   padding: 70px 0 50px 0;

   &__content {
      margin-bottom: 35px;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      padding: 0 176px 0 99px;
      margin-bottom: 10px;
   }

   &__type {
      color: $crumbs;

      &:nth-child(2) {
         margin-left: auto;
         margin-right: 52px;
      }

      &:nth-child(3) {
         margin-right: 135px;
      }
   }

   &__button {
      background-color: $main-bg;
      margin-left: auto;
      max-width: 270px;
      width: 100%;
      padding: 20px 30px;

      &:hover {
         background-color: $main-bg;

         span {
            transform: scale(1.1);
            transition: all .3s;
         }
      }
   }
}

.purchased-item {
   width: 100%;
   display: flex;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0px 2px 10px rgba(140, 121, 199, 0.3);
   min-height: 78px;
   padding: 5px 0 5px 12px;
   margin-bottom: 12px;
   transition: all .2s;

   &:hover {
      transform: translate(1px, -1px);
   }

   &__image {
      @include image;
      background-size: contain;
      width: 67px;
      height: 67px;
      flex: 0 0 auto;
      margin-right: 20px;
   }

   &__name {
      display: block;
      max-width: 500px;
      width: 100%;
      padding: 12px 10px 12px 30px;
      border: 1px solid $border;
      border-top: none;
      border-bottom: none;
      font-size: 14px;
      font-family: "Roboto-Bold";
      color: $text-dark;
   }

   &__amount,
   &__price {
      font-size: 18px;
      font-family: "Roboto-Bold";
      color: $price;
      padding: 10px 45px;
      border-right: 1px solid $border;
      margin-right: 30px;

      span {
         display: none;
         font-size: 14px;
         color: $crumbs;
         font-family: "Roboto-Regular";
         margin-top: 10px;
         margin-bottom: 5px;
      }
   }

   &__select {
      padding-right: 25px;
      border-right: 1px solid $border;
   }

   &__btn {
      font-size: 30px;
      color: #FF2222;
      font-family: "Roboto-Bold";
      width: 19px;
      height: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: transparent;
      margin-right: 30px;
      flex: 0 0 auto;
   }
}

.purchased-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 35px;
   border-bottom: 2px solid $border;
   margin-bottom: 35px;

   &__form {
      position: relative;
   }

   &__label {
      display: block;
      color: $crumbs;
      margin-bottom: 10px;
   }

   &__input {
      width: 300px;
      height: 40px;
      padding: 0 125px 0 15px;
      border-radius: 10px;
      border: 1px solid $border;
      font-size: 17px;
      outline: transparent;

      &::placeholder {
         color: $crumbs;
      }
   }

   &__btn {
      max-width: 118px;
      width: 100%;
      height: 40px;
      color: #fff;
      background-color: $main-bg;
      border-radius: 0 10px 10px 0;
      position: absolute;
      top: 24px;
      right: 0;
   }

   &__amount {
      font-size: 18px;
      font-family: "Roboto-Bold";
      color: $nav;
      display: flex;
      align-items: center;

      span {
         font-size: 24px;
         color: $price;
         margin-left: 45px;
      }
   }
}

.main__input {
   width: 300px;
   height: 40px;
   padding: 0 125px 0 15px;
   border-radius: 10px;
   border: 1px solid $border;
   font-size: 17px;
   outline: transparent;
   display: block;

   &::placeholder {
      color: $crumbs;
      font-size: 13px;
   }
}


/* --********************************************************Purchased.html****************************************************-- */

/* --********************************************************Checkout.html****************************************************-- */

.checkout {
   padding: 70px 0 47px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 5px;
      padding: 30px 0;
      border: 2px solid $border;
      border-left: none;
      border-right: none;
      margin-bottom: 40px;
   }
}

.checkout-item {
   padding: 25px 50px 25px 45px;
   border-right: 1px solid $border;
   width: 33.333%;

   input {
      appearance: none;
      -webkit-appearance: none;
   }

   &:first-child {
      padding-left: 0;
   }

   &:last-child {
      border: none;
      padding-right: 0;
   }

   &__title {
      font-size: 20px;
      font-family: "Roboto-Medium";
      color: $price;
      display: flex;
      align-items: center;
      margin-bottom: 35px;

      span {
         font-size: 30px;
         font-family: "Roboto-Bold";
         color: $main-bg;
         margin-right: 10px;
      }
   }

   &__input {
      margin-bottom: 10px;
   }

   &__textarea {
      max-height: 140px;
      height: 100%;
      max-width: 300px;
      width: 100%;
      resize: none;
      padding: 15px;
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid $border;
      outline: transparent;

      &::placeholder {
         color: $crumbs;
         font-size: 13px;
      }
   }

   &__check {
      margin-bottom: 30px;
   }

   .checkout-item__input-check {
      margin: 0;
   }

   &__total {
      padding-top: 60px;
      border-top: 1px solid $border;
   }

   &__line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Roboto-Bold";
      font-size: 14px;
      color: $text-dark;

      &+li {
         margin-top: 40px;
      }
   }

}


/* --********************************************************Checkout.html****************************************************-- */



/* --********************************************************Guarantee.html****************************************************-- */

.guarantee {
   padding: 60px 0 70px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 70px;
   }
}

.guarantee-item {
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 9px;
   max-width: 370px;
   width: 100%;
   padding: 50px 20px 30px 20px;

   &__title {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
      font-size: 18px;
      font-family: "Roboto-Bold";
      color: $text-dark;

      span {
         max-width: 175px;
      }

      img {
         width: 59px;
         height: 59px;
         flex: 0 0 auto;
         margin-right: 20px;
      }
   }

   &__text {
      font-size: 14px;
      color: $title;
      line-height: 20px;

      p {
         margin-top: 20px;
      }
   }
}

.guarantee-content {

   &__title {
      font-size: 24px;
      color: $text-dark;
      margin-bottom: 30px;
   }

   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__item {
      max-width: 270px;
      padding: 15px 0 30px 0;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 9px;
   }

   &__top {
      padding: 0 20px 15px 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border;

      span {
         display: flex;
         justify-content: center;
         align-items: center;
         box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.09);
         width: 54px;
         height: 54px;
         flex: 0 0 auto;
         border-radius: 50%;
         color: $main-bg;
         font-size: 20px;
         font-family: "Roboto-Bold";
      }
   }

   &__text {
      padding: 20px;
      font-size: 14px;
      color: $title;
      line-height: 20px;
   }
}

/* --********************************************************Guarantee.html****************************************************-- */



/* --********************************************************Modal****************************************************-- */

.modal {
   width: 100vw;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   background-color: rgba(21, 27, 51, 0.93);
   transform: scale(0);
   z-index: -1;
   transition: all .5s;

   &__inner {
      width: 100%;
      height: 100%;
   }

}

#user-name,
#user-pass,
#go-to-cabinet {
   display: none;
}

.back__button {
   background-color: transparent;
   border: 1px solid #314bbe;
   border-radius: 3px;
   padding: 0 5px;
   max-height: 23px;

   &:hover {
      color: #fff;
      background-color: $border;
   }
}

.login-form,
.signin-form {
   max-width: 500px;
   width: 100%;
   text-align: center;
   margin: 0 auto;
   padding: 10px 20px 20px 20px;
   border: 1px solid $border;
   border-radius: 5px;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   &__top {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
   }

   &__button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      position: relative;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: all .4s;

      &::before,
      &::after {
         content: '';
         width: 30px;
         height: 3px;
         background-color: #000;
         border-radius: 3px;
         position: absolute;
         top: 50%;
         left: 0;
         transform: rotate(45deg);
      }

      &::after {
         transform: rotate(-45deg);
      }

      &:hover {
         transform: rotate(90deg);

         &::before,
         &::after {
            background-color: rgb(12, 107, 136);
            height: 4px;
         }

      }
   }


   &__input {
      margin: 0 auto 30px auto;
      display: block;

   }

   &__checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
   }

   &__check {
      &+div {
         margin: 0 0 0 20px;
      }

      input {
         margin-bottom: 0;
      }
   }

   input {
      appearance: none;
      -webkit-appearance: none;
   }

   &__btn {
      width: 100%;
      margin: 0 auto;
      max-width: auto;
      background-color: $main-bg;

      &+button {
         margin-top: 20px;
      }

      &:hover {
         background-color: $main-bg;

         span {
            transform: scale(1.1);
            transition: all .3s;
         }
      }
   }
}

.signin-form {
   visibility: hidden;

   &__top {
      justify-content: space-between;
   }
}


/* --********************************************************Modal****************************************************-- */

/* --********************************************************cabinet.html****************************************************-- */

.cabinet {
   background-color: #fff;
   padding: 70px 0 47px 0;
}

.cabinet-form {
   max-width: 980px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   &__input {
      margin-bottom: 30px;

      &:nth-child(4) {
         margin-bottom: 0;
      }
   }

   &__button {
      background-color: $main-bg;

      &:hover {
         background-color: rgba(55, 113, 155, .8);
      }
   }
}

/* --********************************************************cabinet.html****************************************************-- */

@import "media";